__pycache__/
*.py[cod]
*.log
*.tmp
*.crc
.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
.venv/
spark-warehouse/
.metastore_db/
.delta_log/
_delta/
_logs/
pip-wheel-metadata/
.mypy_cache/
pytest_cache/
.ipynb_checkpoints/
